.upload {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.uploadButton {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 136, 0);
    color: white;
    margin: auto;   
}