<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
</head>

<body>
    <div id="map"></div>
    <!-- <button id="openNav" class="navButton">&#9776;</button> -->
    <div class="sidebar">
        <!-- <button id="closeNav" class="navButton">&times;</button> -->
        <table>
            <tr>
                <td><span>Transport:</span></td>
                <td>
                    <input type="radio" class="transport" name="transport" value="driving-car"> Car
                    <input type="radio" class="transport" name="transport" value="cycling-regular" checked> Bicycle
                    <input type="radio" class="transport" name="transport" value="foot-walking"> Pedestrian
                    <!-- <input type="radio" class="transport" name="transport" value="wheelchair"> Wheelchair -->
                </td>
            </tr>
            <tr>
                <td><label for="start">Start:</label></td>
                <td><input type="text" class="input" id="start" name="Start"></td>
            </tr>
            <tr>
                <td><label for="finish">Finish:</label></td>
                <td><input type="text" class="input" id="finish" name="Finish"></td>
            </tr>
            <tr>
                <td><label for="slider">Select level:</label></td>
                <td><input type="range" min="0" max="10" value="5" class="slider" id="slider"></td>
                <td><span id="sliderValue"></span></td>
            </tr>
            <tr>
                <td><button id="submit" class="button">Submit</button></td>
                <td></td>
            </tr>
        </table>
        <div id="navigationInfo" class="navInfo">
            <h3>Instructions:</h3>
            <ul style="list-style-type: none;" id="navList"></ul>
        </div>

    </div>


    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>

</html>