<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload new data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
</head>

<body>
    <div class="upload">
        <form action="/api/upload" method="POST" enctype="multipart/form-data">
            <input type="file" class="fileUpload" id="fileUpload" name="fileUpload"> <br>
            <button type="submit" class="uploadButton">Submit</button>
        </form>
    </div>
</body>

</html>